<nav class="navbar navbar-dark bg-primary navbar-full ">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" href="/">Blog</a>
    <ul class="nav navbar-nav">
      <%= nav_link 'Articles', chat_rooms_path %>
      <%= nav_link 'Users', users_path %>
    </ul>
    <%= form_tag chat_rooms_path, method: 'get', class: 'form-inline float-lg-right' do %>
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search'%>
      <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-success'  %>
    <% end %>
  </div>
</nav>
