<!DOCTYPE html>
<html>
  <head>
    <title>Activeblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <% unless devise_controller? %>
            <div class="side-container">
              <% if current_user %>

                <div class="card">
                  <div class="card-block">
                    <h4 class="card-title"><%=link_to current_user.name, user_path(current_user) %> <%= link_to(fa_icon("sign-out"), destroy_user_session_path, :method => :delete) %></h4>
                    <%= render partial: 'shared/user_avatar_container', locals: {user: current_user} %>
                    <p class="card-text"><%= preview_user_text(current_user)%></p>
                    <%=link_to "View", user_path(current_user), class: "card-link" %>
                    <%=link_to "Edit", edit_user_path(current_user), class: "card-link" %>
                  </div>
                </div>
              <% else %>
                <%= render 'devise/shared/login'%>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-md-7">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %> fade in">
              <a href="#" data-dismiss="alert" class="close">×</a>
              <%= value %>
            </div>
          <% end %>
          <div class="yeld-container">
            <%= yield %>
          </div>
        </div>
        <div class="col-md">
          <div class="side-container">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Popular</h4>
              </div>
              <ul class="list-group list-group-flush">
                <%= render partial: 'layouts/popular', collection: @populars %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
